body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 30%;
    max-width: 300px; /* Optional maximum width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-image {
    max-width: 60%;
    margin-bottom: 20px;
}

.form-title {
    margin-bottom: 20px;
}


.row {
    display: flex;
}

.row label {
    margin-right: 10px;
}

textarea {
    resize: yes;
    height: 30px; /* Adjust height as needed */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* Other styles for labels, inputs, and buttons as needed */
