/*UserCheck*/
#check_username_availability{ margin-top:7px;}
body{font-family: 'tahoma';}
input{padding:5px;font-family: 'tahoma';}
.is_available{color:green;}
.is_not_available{color:red;}
#loading{left:10px;position:relative;top:3px;visibility:hidden;}
#error{background-color:#ffebe8;border:1px solid #dd3c10;padding:7px 3px;text-align:center;
margin-top:10px;visibility:hidden;
}
/*Password strenght*/
#PwdStrength{height:10px;display:block;float:left;}
.strength0{width:100%;background:#F4F4F4;}
.strength1{width:30%;background:#ff0000;}
.strength2{width:50%;	background:#FC0;}
.strength3{width:70%;background:#56e500;}
.strength4{background:#4dcd00;width:80%;}
.strength5{background:#399800;width:100%;}

/*SIGNUP FORM*/

legend{
	color:#141823;
	font-size:18px;
	font-weight:bold;
}
.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}
textarea {
  color:rgba(255, 255, 255, 0.795);
  font-size:16px;
  font-weight:bold;
  resize: yes;
  height: 70px; /* Adjust height as needed */
  width: 559px;
}
.navbar-default .navbar-brand{
		color:rgba(255, 255, 255, 0.795);
		font-size:15px;
		font-weight:bold;
	}
.form .form-control { margin-bottom: 10px; }
@media (min-width:368px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 9px;
		font-weight:bold;
	}


